:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', serif;
}

body {
    background-color: #181818;
}

.bg-image {
  outline: 6px solid white;
  background-size: 50% 50;
  background-image: url("images/odin2.PNG");
  padding: 12.5rem;
  background-repeat: no-repeat;
  background-position: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

#myId {
    margin-top: 20rem;
    margin-left: -10rem;
    background-color: #181818;
    font-family: var(--ff-accent);
    font-weight: 900;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 6rem;
    color: silver;
}

.flex-item {
    transition: 2s;
}

#btn {
    margin-top: 20rem;
    margin-right: -10rem;
    background-color: #181818;
    font-family: var(--ff-accent);
    font-weight: 900;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 6rem;
    color: silver;
}

