:root {
    --ff-primary: 'Roboto', sans-serif;
    --ff-accent: 'Playfair Display', serif;
}

body {
    background-color: #CDCDCD;
}

.split {
    background-color: #CDCDCD;
}

.text-left {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#myid {
    background-color: #CDCDCD;
    font-family: var(--ff-accent);
    font-weight: 900;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4rem;
}

#btn {
    background-color: #CDCDCD;
    font-family: var(--ff-accent);
    font-weight: 900;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4rem;
}

